body,
html {
  background-color:#383838;
  font-size: 28px;
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color: #F3031B;
  color: #ffffff;
  font-size: 17px;
  padding: 14px 20px;
  margin: 8px 0;
  font-family: Raleway;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 25px;
}

input[type="checkbox"] {
  zoom: 2;
}

button:hover {
  opacity: 0.8;
}

#regForm {
  background-color: #ffffff;
  margin: 50px auto;
  font-family: Raleway;
  padding: 40px;
  width: 60%;
  min-width: 300px;
  border-radius: 25px;
}


input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-align: center;
  border-radius: 10px;
}

.lModal, .olModal, .orModal, .rModal, .cModal, .dModal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */

}
.oModal{
  display: block; /* Hidden by default */
  /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */

}
/* Modal Content */
.modal-content {

  margin: auto;
  padding: 20px;
  background-color: #ffffff;
  width: 100%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* Add a black background color to the top navigation */
.topnav {
  list-style-type: none;
  background-color: #333;
  overflow: hidden;
  margin: 0;
  padding: 0;
  top: 0;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 0;

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #F3031B;
  color: white;
}
.pic{
	height:200px;
	width:300px;
}

.column {
  flex: 50%;
}

.main-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("http://cs.ucmo.edu/~hje61500/pep.png");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.body-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.size-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.size-selector input:active +.size{opacity: 1;}
.size-selector input:checked +.size{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.size{
    cursor:pointer;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:100px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(.5) opacity(.5);
       -moz-filter: brightness(1.8) grayscale(.5) opacity(.5);
            filter: brightness(1.8) grayscale(.5) opacity(.5);
}
.size:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(1);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(1);
            filter: brightness(1.2) grayscale(.5) opacity(1);
}

.pricing {
  text-align:center;
}
.toppingTD{
  vertical-align:top;
}